# Swingmusic configuration and data
*/swingmusic/config/
.env
.env_temp
*/steam-headless/data
*/convertx/data
*/siyuan/workspace/
*/vikunja/files/
*/gitlab/logs/
*/gitlab/config/
*/gitlab-runner/config/
*/affine/config