[submodule "apps/anyconverter"]
	path = apps/anyconverter
	url = https://github.com/jR4dh3y/anyconverter

[submodule "apps/vidown"]
	path = apps/vidown
	url = https://github.com/jR4dh3y/vidown

[submodule "apps/boxbox"]
	path = apps/boxbox
	url = https://github.com/jR4dh3y/boxbox
