services:
  swingmusic:
    image: ghcr.io/swingmx/swingmusic:latest
    container_name: swingmusic
    restart: unless-stopped
    environment:
      - TZ=Asia/Kolkata
    volumes:
      - /media/devmon/sdb1-usb-Generic_Mass-Sto/Music:/music:ro
      - ./config:/config
    networks:
      - proxy

networks:
  proxy:
    external: true
