services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    
    security_opt:
      - no-new-privileges:true
    
    volumes:
      - /DATA/AppData/portainer:/data
      - /var/run/docker.sock:/var/run/docker.sock
    
    networks:
      - proxy
    
    # Edge Agent port (optional)
    ports:
      - "8000:8000"
      - "9000:9000"
    
    deploy:
      resources:
        limits:
          memory: 8G
        reservations:
          memory: 32M

networks:
  proxy:
    external: true
