CONTINUWUITY_SERVER_NAME=matrix.jr4.in
CONTINUWUITY_WELL_KNOWN={client="https://matrix.jr4.in",server="matrix.jr4.in:443"}
CONTINUWUITY_ALLOW_REGISTRATION=false
CONTINUWUITY_REGISTRATION_TOKEN=change-me-long-random-token
CONTINUWUITY_ALLOW_FEDERATION=true
CONTINUWUITY_ALLOW_PROFILE_LOOKUP_FEDERATION_REQUESTS=true
CONTINUWUITY_MAX_REQUEST_SIZE=209715200
CONTINUWUITY_TURN_URIS=["turn:turn.jr4.in?transport=udp","turn:turn.jr4.in?transport=tcp"]
CONTINUWUITY_TURN_SECRET=change-me-use-the-same-value-as-coturn
